@mixin nav-item($width, $color) {
    padding-left: 0;
    margin-left: 0;
    height: 80px;
    max-height: 80px;
    width: $width !important;
    background-color: #f7f4ee;
    display: grid;
    place-items: center;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow:
        2px 0px 2px rgb(0 0 0 / 0.5),
        inset 3px 3px 3px rgb(255 255 255 / 0.5);
    text-shadow: 1px 1px 1px rgb(0 0 0 / 0.5);
    transition: border-radius 0.6s;
    border: solid 5px $color;

    &:nth-child(1) {
        border-radius: 85% 31% 66% 53% / 55% 50% 49% 47%;
        &:hover {
            border-radius: 31% 85% 53% 66% / 50% 49% 47% 55% !important;
        }
    }
    &:nth-child(2) {
        border-radius: 31% 85% 53% 66% / 50% 49% 47% 55%;
        &:hover {
            border-radius: 85% 31% 66% 53% / 55% 50% 49% 47% !important;
        }
    }
    &:nth-child(3) {
        border-radius: 53% 66% 31% 85% / 47% 55% 50% 49%;
        &:hover {
            border-radius: 65% 81% 68% 52% / 55% 20% 49% 47% !important;
        }
    }
    &:nth-child(4) {
        border-radius: 66% 53% 85% 31% / 47% 55% 50% 49%;
        &:hover {
            border-radius: 65% 41% 29% 83% / 45% 40% 49% 57% !important;
        }
    }
    &:nth-child(5) {
        border-radius: 85% 31% 66% 53% / 55% 50% 49% 47%;
        &:hover {
            border-radius: 55% 41% 29% 83% / 45% 50% 49% 57% !important;
        }
    }
    &:nth-child(6) {
        border-radius: 31% 85% 53% 66% / 50% 49% 47% 55%;
        &:hover {
            border-radius: 45% 41% 29% 66% / 45% 29% 53% 52% !important;
        }
    }
    &:nth-child(7) {
        border-radius: 53% 66% 31% 85% / 47% 55% 50% 49%;
        &:hover {
            border-radius: 58% 37% 54% 23% / 58% 42% 65% 37% !important;
        }
    }
    &:nth-child(8) {
        border-radius: 66% 53% 85% 31% / 47% 55% 50% 49%;
        &:hover {
            border-radius: 65% 41% 29% 83% / 45% 40% 49% 57% !important;
        }
    }
    a {
        padding: 12px;
        // background-color: red;
        width: stretch;
        height: stretch;
        display: grid;
        place-items: center;
    }
}
