.slider {
    // width: 84%;
    margin: auto;
}

.home-page {
    .slider {
        width: 100%;
        margin: 0;
        height: 100vh;
        // corner-shape: round;
        // corner-shape: bevel;
        // corner-shape: scoop;
        // corner-shape: squircle;
        .object-contain {
            object-fit: cover;
            // border-radius: 60px !important;
            // corner-shape: squircle;
            // corner-shape: round;
            // corner-shape: bevel;
            // corner-shape: scoop;
            // corner-shape: squircle;
        }
    }
}
