.slider {
    // width: 84%;
    margin: auto;
    .flex.slider-container {
        height: calc(100vh - 80px);
    }
}

.home-page {
    .slider {
        width: 100%;
        margin: 0;
        height: 100vh;
        .flex.slider-container {
            height: 100vh;
        }
        .object-contain {
            object-fit: cover;
        }
    }
}
